<template>
  <div class="bande">
    <a href="/">
      <img class="logo" src="../assets/logo_energie.png" alt="Logo">
    </a>
    <button @click="showPopUp">
      {{ showPop ? 'Fermer' : 'Ajouter une Valeur' }}
    </button>
  </div>
  <div class="tableau">
    <Chart/>
  </div>
  
  <div v-if="showPop"> 
      <MyPopUp/>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import MyPopUp from './MyPopUp.vue';
import Chart from './ChartComponents.vue';
import {useStore, showPopUp} from './store'

const showPop = (computed(()=>useStore().state.etat));


</script>

<style scoped>
.tableau {
  position: fixed;
  top: 60px;
  background-color: white;
}

.bande {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #a7d97d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  height: 60px;
  margin-right: 5px;
}

button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  margin-top: 0px;
  padding: 10px;
  background-color: #88c457;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 65%;
}

button:hover {
  background-color: #c9eeab;
}
</style>
