<template>
  <div v-if="keyRerender" class="tableau">
    <Line :key="toReRender" :data="data" :options="options" />
  </div>
  <div v-else>
    La data est en cours de chargement ...
  </div>
</template>

<script setup lang="ts">
import { ref, reactive, computed, watch } from 'vue';
import { useStore } from './store';
import {
  Chart as ChartJS,
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Title,
  Tooltip,
  Legend,
} from 'chart.js';
import { Line } from 'vue-chartjs';

ChartJS.register(
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Title,
  Tooltip,
  Legend
);

// LES CONSTANTES
const keyRerender = ref<any>();

const toReRender = (computed(() => {
  console.log('toRerender : ',useStore().state.toRerender)
  return useStore().state.toRerender
}))

const data = (computed(() => {
  console.log('VARIABLE_DATA : ',useStore().state.data)
  return useStore().state.data
}))
const options = (computed(() => {
  return useStore().state.options
}))

setTimeout(flagRerender, 500);

let rerenderIndex = 0

function flagRerender() {
  rerenderIndex = rerenderIndex + 1
  keyRerender.value = 'rerender-' + rerenderIndex;
}

watch(data, async () => {
  console.log('Watch data')
  flagRerender()
})

</script>

<style>
.tableau {
  width: 1260px;
  height: 90%;
  left: 40px;
  right: 40px;
}
</style>
