<template>
  <div v-if="selectedCollection === 'add'" class="popup">
    <h2>Ajouter une Valeur</h2>
    <div class="element2">
      <label for="collection">Collection:</label>
      <br>
      <div v-if="selectedCollection === 'add'">
        <label for="new">   Nom:</label>
        <br>
        <label for="unite">   Unité:</label>
        <br>
        <label for="color">   Couleur:</label>
      </div>
      <label for="date">Date:</label>
      <br>
      <label for="conso">Consomation : </label>
    </div>
    <div class="element3">
      <select v-model="selectedCollection" id="collection" name="collection">
        <option v-for="collection in collections_name" :value="collection" :key="collection">{{ collection }}</option>
        <option value="add">Ajouter</option>
      </select>
      <br>
      <div v-if="selectedCollection === 'add'">
        <input type="text" v-model="New" placeholder="Collection" size="6" >
        <br>
        <input type="text" v-model="selectedUnite" placeholder="Unité" size="6" >
        <br>
        <input type="color" v-model="selectedColor">
      </div>
      <input type="date" v-model="selectedDate"  id="date" name="date" >
      <br>
      <input type="text" v-model="selectedConso" id="conso" name="conso" :placeholder="`Entrez la consommation en ${unit[index]}`" size="24">
    </div>
    <button @click.prevent="addValue()">Ajouter une Valeur</button>
  </div>
  <div v-else class="popup2">
    <h2>Ajouter une Valeur</h2>
    <div class="element2">
      <label for="collection">Collection:</label>
      <br>
      <label for="date">Date:</label>
      <br>
      <label for="conso">Consomation : </label>
    </div>
    <div class="element3">
      <select v-model="selectedCollection" id="collection" name="collection">
        <option v-for="collection in collections_name" :value="collection" :key="collection">{{ collection }}</option>
        <option value="add">Ajouter</option>
      </select>
      <br>
      <div v-if="selectedCollection === 'add'">
        <input type="text" v-model="New" placeholder="Collection" size="6" >
        <br>
        <input type="text" v-model="selectedUnite" placeholder="Unité" size="6" >
        <br>
        <input type="color" v-model="selectedColor">
      </div>
      <input type="date" v-model="selectedDate"  id="date" name="date" >
      <br>
      <input type="text" v-model="selectedConso" id="conso" name="conso" :placeholder="`Entrez la consommation en ${unit[index]}`" size="24">
    </div>
    <button @click.prevent="addValue()">Ajouter une Valeur</button>
  </div>

</template>
<script setup lang="ts">
import { ref, computed } from 'vue';
import axios from 'axios';
import {useStore, showPopUp, fetchData} from './store'

const collections_name =ref(computed(() => useStore().state.collections));
const unit=ref(computed(() => useStore().state.unit));

const selectedConso = ref('');
const selectedColor = ref('');
const New = ref('');
const selectedCollection = ref('');
const selectedUnite = ref('');
const todayDate = computed(() => {
  const today = new Date();
  const year = today.getFullYear();
  let month = today.getMonth() + 1;
  let day = today.getDate();

  return `${year}-${month.toString().padStart(2, '0')}-${day.toString().padStart(2, '0')}`;
});
const selectedDate = ref(todayDate.value);

const index = computed(() => collections_name.value.indexOf(selectedCollection.value));


function addValue() {
  if (New.value){
  selectedCollection.value=New.value+'-'+selectedUnite.value+'-'+selectedColor.value;
  } 
  console.log('collection:', selectedCollection.value,',date :', selectedDate.value,',consommation:', selectedConso.value)
  axios.post('/api/new', {
    collection: selectedCollection.value,
    date : selectedDate.value,
    consommation: selectedConso.value
  })
  .then(function (response) {
    console.log(response);
    showPopUp()
    fetchData()
  })
  .catch(function (error) {
    console.log(error);
  });
}


</script>


<style>


.popup input[type="color"] {
  width: 100px;
  height: 20px;
}


h2 {
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: center;
  margin: 0;
}


.popup .element2 {
  justify-self: start;
  position: fixed;
  top: 60px;
  left: 20px;
  line-height: 1.3;
}

.popup .element3 {
  justify-self: start;
  position: fixed;
  top: 60px;
  left: 140px;
}
.popup .element2 label[for="new"],
.popup .element2 label[for="unite"],
.popup .element2 label[for="color"] {
  margin-left: 45px;
  font-size: small;
  line-height: 1.75;
}

.popup2 .element2 label[for="new"],
.popup2 .element2 label[for="unite"],
.popup2 .element2 label[for="color"] {
  margin-left: 45px;
  font-size: small;
  line-height: 1.75;
}

.popup {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: 20px;
  place-items: left;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid  #88c457;
  box-shadow: 0 0 10px  #a7d97d;
  margin: 10px;
  border-radius: 10px;
  width: 450px;
  height: 260px;
}

.popup2 {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: 20px;
  place-items: left;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid  #88c457;
  box-shadow: 0 0 10px  #a7d97d;
  margin: 20px;
  border-radius: 10px;
  width: 450px;
  height: 200px;
}

.popup2 .element2 {
  justify-self: start;
  position: fixed;
  top: 60px;
  left: 20px;
  line-height: 1.38;
}

.popup2 .element3 {
  justify-self: start;
  position: fixed;
  top: 60px;
  left: 140px;
}

button{
  position: fixed;
  bottom: 10px;
  right: 10px;
  position: absolute;
  margin-top: 0px;
  padding: 10px;
  background-color: #88c457;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

</style>