<template>
  <div class="total">
    <App />
  </div>
</template>

<script setup lang="ts">
 import App from './components/AllComponent.vue'

</script>

<style>
.total{
  font-family: 'Poppins';
}
</style>